.logo{
    border-radius: 8px;
    margin-left: 35%;
    width: 25%;
}

.DatosRegistro{
    margin-left: 10%;
    margin-right: 10%;
}

.boton{
    margin-right: 50%;
}

ion-content.background{
    --background: url("../../../assets/img/drive.jpg") 0 0/100% 100% no-repeat;

}