<ion-content class="background" [fullscreen]="true">
  <div>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <img class="logo" src="../../../assets/img/IMG_4139.PNG" >
  </div>
  
  <h1 class="DatosRegistro">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="tel" [(ngModel)]="telefono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="file" (change)="onFileChange($event)"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button class="boton" color="dark" (click)="registro()">Registrarse</ion-button>
  </h1>

</ion-content>
