<ion-header [translucent]="true">
  <ion-toolbar>
<div>
  <img class="logo" src="../../../assets/img/DuocUc.png" alt="LogoDuoc" >
</div>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="Iniciar" size="large">Iniciar Sesion</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>

  <div class="content">
    <br>
    <strong>BIENVENIDO</strong>
   </div>
  
  <!--Email-->
  <ion-list class="email">
    <ion-item>
      <ion-input [(ngModel)]="email"  label="Email" placeholder="email@domain.com">
        <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
      </ion-input>
    </ion-item>
  </ion-list>

  <!--Password-->
  <ion-list class="pass">
    <ion-item>
      <ion-input [(ngModel)]="password" label="Password" type="password" placeholder="**********">
        <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
  </ion-list>

<!--FIREBASE IDENTIFICADOR javieramorales220998-->
  
  <ion-button class="boton"(click)="logIn()" >Ingresar</ion-button> 

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="Registrar">
        <div>
          Registrar
        </div>
      </ion-col>
      <ion-col class="Recuperar">
        <div>
          Recuperar contraseña
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer> 
  <div class="app">
    <strong>Javiera Morales</strong>
    <p>Correo: xxxxxxxxx&#64;gmail.com</p>
    <p>Cel: +569 9999 9999</p>
    <p>Dirección: av san luis 200, las condes, Chile</p>    
  </div>
</ion-footer>