<ion-content class="background">

<div>
  <img class="logo" src="../../../assets/img/IMG_2547.jpg" alt="LogoDuoc" >
</div>





  <div class="content">
    <br>
    <strong class="bnv">BIENVENIDO</strong>
   </div>

   <br>
  
  <!--Email-->
  <ion-list class="email">
    <ion-item>
      <ion-input [(ngModel)]="email"  label="Email" placeholder="email@domain.com">
        <ion-icon slot="start"  aria-hidden="true"></ion-icon>
      </ion-input>
    </ion-item>
  </ion-list>

  <!--Password-->
  <ion-list class="pass">
    <ion-item>
      <ion-input [(ngModel)]="password" label="Password" type="password" placeholder="**********">
        <ion-icon slot="start" aria-hidden="true"></ion-icon>
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
  </ion-list>

<!--FIREBASE IDENTIFICADOR javieramorales220998-->

<br>
<br>
  
  <ion-button class="boton"(click)="logIn()" >Ingresar</ion-button> 

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="Registrar">
        <a [routerLink]="['/registrar']" routerLinkActivate="router-link-activate">
          Registrarse
        </a>
      </ion-col>
      <ion-col class="Recuperar">
        <a [routerLink]="['/recuperar']" routerLinkActivate="router-link-activate">
          Recuperar contraseña
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
