<ion-header [translucent]="true">
  <ion-toolbar>
<div>
  <img class="logo" src="../../../assets/img/DuocUc.png" alt="LogoDuoc" >
</div>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="Iniciar" size="large">Iniciar Sesion</ion-title>
    </ion-toolbar>
  </ion-header>
  
 <!--Email-->
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="email" labelPlacement="stacked" label="Email" placeholder="email@domain.com">
        <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
      </ion-input>
    </ion-item>
  </ion-list>

  <!--Password-->
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="password" labelPlacement="stacked" label="Password" type="password" placeholder="**********">
        <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
  </ion-list>

<!--FIREBASE IDENTIFICADOR javieramorales220998-->
  
  <ion-button (click)="logIn()" expand="block">Login</ion-button> 

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="Registrar">
        <div>
          <a [routerLink]="['/registrar']">Registrar</a>
        </div>
      </ion-col>
      <ion-col class="Recuperar">
        <div>
          Recuperar contraseña
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Javiera Morales</ion-title>
  </ion-toolbar>
</ion-footer>
