
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">User:{{email}}</ion-content>
  <ion-img *ngIf="usuario.length > 0" [src]="usuario[0].imagen_usuario"></ion-img>
  <a [routerLink]="['/photo']" routerLinkActive="router-link-active">Tomar Foto</a>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding">
    
  
    <div>
      <img class="logo" src="../../../assets/img/IMG_2547.jpg" alt="LogoDuoc" >
    </div>
    
    <div class="bnvdo">
      <p>Bienvenido: {{email}}</p>
    </div>
  
  <div>
  <img class="mapa" src="../../../assets/img/mapa1.png">

  <div>
    <ion-img *ngIf="usuario.length > 0" [src]="usuario[0].imagen_usuario"></ion-img>
  </div>
  
  <div>
    <ion-button class="registrar" (click)="btnRegistrarVehiculo()" expand="block">Registrar vehiculo</ion-button>
  </div>

  <div>
    <ion-button class="obtener" (click)="btnObtenerVehiculos()" expand="block">Obtener vehiculos</ion-button>
  </div>

  <div>
    <ion-button class="logout" (click)="logout()" expand="block">Cerrar sesión</ion-button>
  </div>

<!--Por el momento, solo son funcionales las tabs de principal y perfil
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/principal']" >
        <ion-icon name="home"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button >
        <ion-icon name="search"></ion-icon>
        Buscar
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/perfil']">
        <ion-icon name="person"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>-->


