<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="logo" src="../../../assets/img/IMG_2547.jpg" alt="LogoDuoc" >

  </ion-toolbar>
</ion-header>


    <div>
      <ion-toolbar>
        <ion-title class="user">Javiera Morales
          <ion-icon name="person"></ion-icon>
        </ion-title>
      </ion-toolbar>
  
    <ion-searchbar show-clear-button="always" value="A donde quieres ir?"></ion-searchbar>
  </div>

<ion-content>
  <div>
  <img class="mapa" src="../../../assets/img/mapa1.png">
<!--Por el momento, solo son funcionales las tabs de principal y perfil-->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/principal']" tab="home">
        <ion-icon name="home"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Buscar
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/perfil']" tab="person">
        <ion-icon name="person"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>


</ion-content>

