.mapa{
    width: 100%;
}

.user{
    text-align: center;
}

.titulo{
    text-align: center;
    color: blue;
}

.logo{
    width: 200px;
    height: 150px;
    margin-left: 43%;
}

.registrar{
    align-items: center;
}

.bnvdo{
    text-align: center;
}