<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SPD MOVIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content>
    <div>
      <ion-buttons>
      <ion-button [routerLink]="['/perfil']" >
         <ion-icon class="perfil" color="primary" slot="icon-only"  name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-searchbar show-clear-button="always" value="A donde quieres ir?"></ion-searchbar>
  </div>

  <div>
    <ion-button class="boton" (click)="logout()" >Cerrar sesión</ion-button> 
</div>
  </ion-content>


</ion-content>
