
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>




<ion-content [fullscreen]="true">
    <ion-toolbar>
      <ion-title class="titulo">Javiera Morales
      </ion-title>
    </ion-toolbar>


  <ion-list>
    <ion-item>
      <ion-input label="Configuracion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Mensajes"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Administrar cuenta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Favoritos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Se conductor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Ayuda"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Mis Pagos"></ion-input>
    </ion-item>
  </ion-list>

  <br>
  <br>


  <div>
    <ion-button class="boton" (click)="logout()" >Cerrar sesión</ion-button> 
  </div>
