<ion-header [translucent]="true">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/principal"></ion-back-button>
    <h1 class="vj">Viajes</h1>
  </ion-buttons>
</ion-header>


<ion-content>
  <div>
    <img class="logo" src="../../../assets/img/IMG_4139.PNG"  >
  </div>
  <h1></h1>
  <ion-searchbar search-icon="locate" placeholder="Ingresa Punto de Partida"></ion-searchbar>
  <ion-searchbar search-icon="navigate" placeholder="Ingresa Destino"></ion-searchbar>
  <img class="map" src="../../../assets/img/MAPA.png">

  <br><br>

  <ion-button color="dark" size="medium">
    <ion-icon slot="car" name="car"></ion-icon>
    Publicar Viaje
  </ion-button>
  <ion-button color="dark" size="medium">
    <ion-icon slot="car" name="car"></ion-icon>
    Solicitar Viaje
  </ion-button>
</ion-content>

<ion-footer>

</ion-footer>